<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    {% endblock %}
    {% block style %}
    {% endblock %}
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <h3>LMS</h3>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/admin_page">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="/books">Books</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="/section">Genre</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="/request">Requests</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="/issued_books">Issued Books</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="/users">All Users</a>
              </li>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/admin_profile">Admin profile</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="/logout" style="color:red;">Logout</a>
              </li>
            </ul>
            <form class="d-flex" role="search" method="post" action="/admin/book/search">
              <select name="type" id="type" class="form-select">
                <option value="book_name" selected>Book Name</option>
                <option value="author">Author</option>
              </select>
              <input class="form-control" type="search" name="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-success" type="submit">Search</button>
            </form>
          </div>
        </div>
      </nav>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
          {% for message in messages %}
              <div class="alert alert-danger alter-dismissible fade show " role="alert">{{ message }}</div>
              <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
          {% endfor %}
      {% endif %}
    {% endwith %}
    {% block content %}
    {% endblock %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>