{% extends 'admin_layout.html' %}
{% block title %}All Issues{% endblock %}
{% block content %}
<table class="table table-bordered" border="2px" border-color="black">
    <tr>
        <th>Book ID</th>
        <th>User ID</th>
        <th>Issue Date</th>
        <th>Return Date</th>
        <th>Actions</th>
    </tr>
    {% for x in L %}
    <tr>
        <td><a href="/book/{{ x.Books.book_id }}">{{ x.Books.name }}</a></td>
        <td><a href="/user/{{ x.Issued.user_id }}">{{ x.Issued.user_id }}</a></td>
        <td>{{ x.Issued.issue_date }}</td>
        <td>{{ x.Issued.return_date }}</td>
        <td><a href="/issued_books/{{ x.Issued.issue_id }}/revoke" class="btn btn-danger" role="button">Revoke</a></td>
    </tr>
    {% endfor %}
</table>
{% endblock %}