{% extends "user_layout.html" %}
{% block title %}Section Browse{% endblock %}
{% block content %}
<h1>Browse by Genre: {{ section.name }}</h1>
<div class="grid-container">
    {% for x in books %}
    <div class="thumbnail">
        <img src="/static/{{ x.imgname }}" alt="Book1" class="thumbnail img">
        {{ x.name }} <br>
        by {{ x.author }} <br>
        price: <span>&#8377</span>{{ x.price }} <br>
        {% if x.available == True %}
        <p style="color:green;">Available</p> <br>
        {% else %}
        <p style="color:red;">Not Available</p> <br>
        {% endif %}
        <a href="/book/{{ x.book_id }}/rate" class="btn btn-primary" role="button">Rate</a>
        <a href="/book/{{ x.book_id }}/request" class="btn btn-success" role="button">Request</a>
    </div>
    {% endfor %}
</div>
<br>
<a href="/" class="btn btn-danger" role="button">Go to Homepage.</a>
{% endblock %}
{% block style %}
<style>
    .button{
        display: inline-block;
        padding: 10px 20px;
        font-size: 16px;
        text-align: center;
        text-decoration: none;
        background-color: #007BFF;
        color: white;
        border-radius: 5px;
        cursor: pointer;
    }
    .button:hover{
        background-color: #0056b3;
    }
    .grid-container{
        display: grid;
        grid-template-columns: repeat(auto-fill,minmax(150px,1fr));
        gap: 10px;
    }
    .thumbnail{
        box-shadow: rgba(0, 0, 0, 0.2);
        border-radius: 5px;
        overflow: hidden;
    }
    .thumbnail img{
        width: 100%;
        height: auto;
    }
    .comment{
        position: absolute;
        left: 10%;
        padding-top: 5%;
    }
    .sections{
        position: absolute;
        right: 30%;
        padding-top: 5%;
    }
</style>
{% endblock %}
