{% extends 'admin_layout.html' %}
{% block title %}All Genre{% endblock %}
{% block content %}
<h1>All Genre</h1>
<table class="table table-bordered" border="2px" border-color="black">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Date Created</th>
        <th>Description</th>
        <th>Actions</th>
    </tr>
    {% for x in genre %}
    <tr>
        <td>{{ x.section_id }}</td>
        <td>{{ x.name }}</td>
        <td>{{ x.date_created }}</td>
        <td>{{ x.description }}</td>
        <td><a href="/section/{{x.section_id}}/edit" class="btn btn-primary" role="button">Edit</a><a href="/section/{{x.section_id}}/delete" class="btn btn-danger" role="button">Delete</a></td>
    </tr>
    {% endfor %}
</table>
<a href="/section/add" class="btn btn-success" role="button">+Add new Genre</a>
<br>
<br>
{% endblock %}