{% extends "admin_layout.html" %}
{% block title %}Admin Dashboard{% endblock %}
{% block content %}
    <h1>Hello {{ admin }}, Welcome to LMS!</h1> <br>
    <h3>Popular Books:</h3>
    <div style="padding-left: 20%;">
        <img src="{{ url_for('static',filename='ratings.png') }}" alt="Book Rating">
    </div>
    <div class="comments">
        <h3>Top Comments:</h3>
        <ul>
            {% for x in comments %}
            <li><a href="/user/{{ x.user_id }}"><h5>User ID {{ x.user_id }} :</h5></a> {{ x.comment }}</li> <br>
            {% endfor %}
        </ul>
    </div>
    <div class="sections">
        <h3>Browse through Genres:</h3>
        <ul>
            {% for x in sections %}
                    <li><h6><a href="/admin/book/{{ x.section_id }}/genre">{{ x.name }}</a></h6>
            {% endfor %}
        </ul>
    </div>
    
{% endblock %}
{% block style %}
<style>
    .comments{
        position: absolute;
        left: 10%;
        padding-top: 5%;
    }
    .sections{
        position: absolute;
        right: 30%;
        padding-top: 5%;
    }
</style>
{% endblock %}