{% extends 'admin_layout.html' %}
{% block title %}Admin Profile{% endblock %}
{% block content %}
<form method="post" action="/admin_profile">
    <div class="mb-3">
      <label for="admin_name" class="form-label">Admin Name*</label>
      <input type="admin_name" class="form-control" id="admin" name="admin" value="{{ to_edit.admin_name }}" disabled />
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Password*</label>
        <input type="password" class="form-control" id="password" name="password" placeholder="Change the password" />
    </div>
    <div class="mb-3">
      <label for="name" class="form-label">Name*</label>
      <input type="name" class="form-control" id="name" name="name" value="{{ to_edit.name }}" />
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" id="email" name="email" value="{{ to_edit.email }}" />
      </div>
    <button type="submit" class="btn btn-primary">Edit</button>
    <a href="/admin_profile" class="btn btn-danger" role="button">Cancel</a>
  </form>
  <br>
{% endblock %}