{% extends "user_layout.html" %}
{% block title %}Home{% endblock %}
{% block content %}
    <h1>Hello {{ user }}, Welcome to LMS!</h1>
    <div style="padding-bottom: 2%;">
        <h3>Most Popular:</h3>
        <div class="grid-container">
            {% for x in pbooks %}
            <div class="thumbnail">
                <img src="static/{{x.imgname}}" alt="Book1" class="thumbnail img">
                {{ x.name }} <br>
                by {{ x.author }} <br>
                price: <span>&#8377</span>{{ x.price }} <br>
                {% if x.available == True %}
                <p style="color:green;">Available</p> <br>
                {% else %}
                <p style="color:red;">Not Available</p> <br>
                {% endif %}
                <a href="/book/{{ x.book_id }}/rate" class="btn btn-primary" role="button">Rate</a>
                <a href="/book/{{ x.book_id }}/request" class="btn btn-success" role="button">Request</a>
            </div>
            {% endfor %}
        </div>
    </div>
    <div>
        <h3>Latest Books:</h3>
        <div class="grid-container">
            {% for y in lbooks %}
            <div class="thumbnail">
                <img src="static/{{y.imgname}}" alt="Book1" class="thumbnail img">
                {{ y.name }} <br>
                by {{ y.author }} <br>
                price: <span>&#8377</span>{{ y.price }} <br>
                {% if y.available == True %}
                <p style="color:green;">Available</p> <br>
                {% else %}
                <p style="color:red;">Not Available</p> <br>
                {% endif %}
                <a href="/book/{{ y.book_id }}/rate" class="btn btn-primary" role="button">Rate</a>
                <a href="/book/{{ y.book_id }}/request" class="btn btn-success" role="button">Request</a>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="comment">
        <h3>Top Comments:</h3>
        <ul>
            {% for i in comments %}
                <li><h5>User ID: {{ i.user_id }}</h5>{{ i.comment }}</li>
            {% endfor %}
        </ul>
    </div>
    <div class="sections">
        <h3>Browse by Genre:</h3>
        <ul>
            {% for j in sections %}
                <li style="padding-bottom: 5%;"><b><a style="color: black;" href="/book/{{ j.section_id }}/genre">{{ j.name }}</a></b></li>
            {% endfor %}
        </ul>
        
    </div>
{% endblock %}
{% block style %}
<style>
    .button{
        display: inline-block;
        padding: 10px 20px;
        font-size: 16px;
        text-align: center;
        text-decoration: none;
        background-color: #007BFF;
        color: white;
        border-radius: 5px;
        cursor: pointer;
    }
    .button:hover{
        background-color: #0056b3;
    }
    .grid-container{
        display: grid;
        grid-template-columns: repeat(auto-fill,minmax(150px,1fr));
        gap: 10px;
    }
    .thumbnail{
        box-shadow: rgba(0, 0, 0, 0.2);
        border-radius: 5px;
        overflow: hidden;
    }
    .thumbnail img{
        width: 100%;
        height: auto;
    }
    .comment{
        position: absolute;
        left: 10%;
        padding-top: 5%;
    }
    .sections{
        position: absolute;
        right: 30%;
        padding-top: 5%;
    }
</style>
{% endblock %}