{% extends 'admin_layout.html' %}
{% block title %}All Requests{% endblock %}
{% block content %}
<h1>All Requests</h1>
<table class="table table-bordered" border="2px" border-color="black">
    <tr>
        <th>Book Name</th>
        <th>User ID</th>
        <th>Actions</th>
    </tr>
    {% for x in req %}
    <tr>
        <td><a href="/book/{{ x.Books.book_id }}">{{ x.Books.name }}</a></td>
        <td><a href="/user/{{ x.Requests.user_id }}">{{ x.Requests.user_id }}</a></td>
        <td><a href="/request/{{ x.Requests.user_id }}/{{ x.Books.book_id }}/issue" class="btn btn-success" role="button">Issue</a><a href="/request/{{ x.Requests.request_id }}/reject" class="btn btn-danger" role="button">Reject</a></td>
    </tr>
    {% endfor %}
</table>
{% endblock %}